// colors setup
$white: #FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;
$smoky-black: #0C0910;
$granite-gray: #646266;
$quick-silver: #A6A5A8; 

// fonts setup
$raleway: 'Raleway', sans-serif;
$raleway-weight-regular: 400;
$raleway-weight-bold: 700;
$old-standard:'Old Standard TT', serif;

$font-size-xxx-large: 50px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

$primary-font: $raleway;
$primary-font-regular: $raleway-weight-regular;
$primary-font-bold: $raleway-weight-bold;

// breakpoints
$min-tablet: 768px;
$min-laptop: 992px;
