.header {
  max-width: 100%;
  box-sizing: border-box;

  &__li {
    list-style: none;
    margin: 0 2em;
    &--a {
      margin: auto;
      text-decoration: none;
      color: $smoky-black;
    }
  }
  &__link {
    display: flex;
    justify-content: end;
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    width: 30em;
  }
  &__logo {
    background-color: $smoky-black;
    padding: 1.5em;
    &--texto {
      font-family: $old-standard;
      font-weight: $raleway-weight-bold;
      color: $white;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      margin: auto;
      -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: vertical-lr;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
}
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


@include movil-view {
  .header {
    
    &__logo {
      &--texto {
        writing-mode: horizontal-tb;
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: horizontal-tb;
}
    }
  }
}
